In [1]:
# Load required libraries
import numpy as np
import pandas as pd

In [22]:
all_train_df = pd.read_csv('D:\\Downloads\\train.csv')
all_test_df = pd.read_csv('D:\\Downloads\\test.csv')

In [9]:
all_train_df.head()

,ID,Date,Company,SMA,EMA,WMA,DEMA,TEMA,TRIMA,KAMA,...,OBV,HT_TRENDLINE,LEAD SINE,SINE,TRENDMODE,DCPERIOD,HT_DCPHASE,PHASE,QUADRATURE,Price
0,1,15-01-2148,ABC,17.556,17.5560,18.3160,NaN,NaN,17.7347,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.81
1,2,15-01-2148,DEF,56.090,56.0900,55.2956,NaN,NaN,55.5317,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.50
2,3,15-01-2148,GHI,129.583,129.5830,129.5585,NaN,NaN,129.1990,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.25
3,4,16-01-2148,ABC,18.137,17.8985,18.6585,NaN,NaN,18.1427,19.2201,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.06
4,5,16-01-2148,DEF,56.040,56.7100,55.9156,NaN,NaN,55.0523,57.5121,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.44

In [23]:
all_test_df.head()

,ID,Date,Company,SMA,EMA,WMA,DEMA,TEMA,TRIMA,KAMA,...,ADOSC,OBV,HT_TRENDLINE,LEAD SINE,SINE,TRENDMODE,DCPERIOD,HT_DCPHASE,PHASE,QUADRATURE
0,12001,09-12-2163,ABC,551.207,553.3926,559.2131,567.0388,570.5996,554.3346,560.7553,...,-2.038989e+06,2594606100,531.2224,-0.0518,0.6695,1,25.7849,137.9718,34.4973,10.5310
1,12002,09-12-2163,DEF,385.975,384.0682,387.7373,391.4103,390.3597,388.0083,381.3179,...,8.652003e+05,961165686,371.0374,-0.8132,-0.1634,1,21.2438,189.4060,17.5922,-7.5945
2,12003,09-12-2163,GHI,38.116,38.1516,38.2909,38.5057,38.6109,38.1000,37.8252,...,2.035506e+07,-2042164174,37.6903,-0.1467,0.5958,1,19.6563,143.4333,0.3742,0.3351
3,12004,10-12-2163,ABC,555.463,555.2449,561.4627,567.9254,570.0487,558.9843,561.3335,...,-1.370708e+06,2584667900,532.6439,-0.1763,0.5714,1,26.4483,145.1522,32.5341,-12.1039
4,12005,10-12-2163,DEF,386.967,384.0086,387.3309,389.9669,387.9751,388.2523,381.3996,...,1.188655e+06,963902486,372.0115,-0.8503,-0.2290,1,21.5579,193.2403,12.3675,-26.7711

In [24]:
abc_train_df = all_train_df.loc[all_train_df['Company ']=='ABC']
def_train_df = all_train_df.loc[all_train_df['Company ']=='DEF']
ghi_train_df = all_train_df.loc[all_train_df['Company ']=='GHI']

abc_test_df = all_test_df.loc[all_test_df['Company ']=='ABC']
def_test_df = all_test_df.loc[all_test_df['Company ']=='DEF']
ghi_test_df = all_test_df.loc[all_test_df['Company ']=='GHI']

In [21]:
abc_train_df.head()

,ID,Date,Company,SMA,EMA,WMA,DEMA,TEMA,TRIMA,KAMA,...,OBV,HT_TRENDLINE,LEAD SINE,SINE,TRENDMODE,DCPERIOD,HT_DCPHASE,PHASE,QUADRATURE,Price
0,1,15-01-2148,ABC,17.556,17.5560,18.3160,NaN,NaN,17.7347,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.81
3,4,16-01-2148,ABC,18.137,17.8985,18.6585,NaN,NaN,18.1427,19.2201,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.06
6,7,20-01-2148,ABC,18.393,18.1097,18.8264,NaN,NaN,18.4550,19.2123,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.91
9,10,21-01-2148,ABC,18.674,18.2261,18.8913,NaN,NaN,18.7403,19.1857,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.25
12,13,22-01-2148,ABC,18.662,18.3105,18.8942,NaN,NaN,18.8970,19.1829,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.50

In [25]:
abc_test_df.head()

,ID,Date,Company,SMA,EMA,WMA,DEMA,TEMA,TRIMA,KAMA,...,ADOSC,OBV,HT_TRENDLINE,LEAD SINE,SINE,TRENDMODE,DCPERIOD,HT_DCPHASE,PHASE,QUADRATURE
0,12001,09-12-2163,ABC,551.2070,553.3926,559.2131,567.0388,570.5996,554.3346,560.7553,...,-2.038989e+06,2594606100,531.2224,-0.0518,0.6695,1,25.7849,137.9718,34.4973,10.5310
3,12004,10-12-2163,ABC,555.4630,555.2449,561.4627,567.9254,570.0487,558.9843,561.3335,...,-1.370708e+06,2584667900,532.6439,-0.1763,0.5714,1,26.4483,145.1522,32.5341,-12.1039
6,12007,11-12-2163,ABC,559.7510,557.3822,563.5604,569.5059,570.7875,562.4413,562.4989,...,-3.850055e+06,2571820800,534.1769,-0.2968,0.4654,1,26.3115,152.2653,26.8743,-19.7619
9,12010,12-12-2163,ABC,562.3342,558.2475,563.9950,568.8749,568.6992,564.1687,562.4604,...,-6.922358e+06,2562453300,535.7023,-0.4211,0.3436,1,25.6528,159.9024,23.9761,-26.9437
12,12013,13-12-2163,ABC,563.6712,559.0843,564.0888,568.4641,567.2997,564.5868,562.4824,...,-1.070779e+07,2550566800,537.5428,-0.5796,0.1664,1,24.6830,170.4197,14.4474,-38.8704

In [26]:
# Lets deal with DEF only

In [31]:
X = def_train_df[['SMA', 'Price']]

In [32]:
X

           SMA    Price
1       56.090   57.500
4       56.040   59.440
7       55.965   60.880
10      56.252   61.630
13      56.540   59.250
16      57.315   57.750
19      57.690   57.000
22      58.471   57.250
25      58.958   59.500
28      59.120   59.000
31      59.370   62.380
34      59.358   61.810
37      59.795   60.750
40      59.945   59.250
43      59.995   58.880
46      59.495   58.250
49      59.420   63.630
52      59.489   63.500
55      60.139   63.130
58      60.714   62.250
61      61.014   61.750
64      61.339   60.880
67      61.289   62.750
70      61.345   63.250
73      61.482   64.880
76      61.919   64.880
79      62.519   65.880
82      63.232   72.750
85      63.438   77.000
88      64.338   76.250
...        ...      ...
11908  317.675  363.390
11911  323.058  358.160
11914  328.128  362.700
11917  333.037  361.080
11920  338.461  364.030
11923  343.927  359.002
11926  348.554  358.740
11929  351.577  358.892
11932  354.483  356.180
11935  357.444  343.560
11938  360.067  350.310
11941  358.802  354.378
11944  357.869  349.530
11947  357.272  356.220
11950  355.750  367.396
11953  355.316  369.170
11956  355.516  366.180
11959  356.532  364.940
11962  357.436  362.570
11965  358.147  368.920
11968  358.966  372.310
11971  361.371  376.640
11974  363.694  381.370
11977  366.156  386.710
11980  369.766  393.620
11983  372.937  392.300
11986  376.074  384.660
11989  378.057  385.960
11992  379.825  384.490
11995  381.734  386.950

[3999 rows x 2 columns]